.game-base-container {
  position: relative;

  .close-icon {
    position: absolute;
    top: var(--gap);
    right: var(--gap);
  }

  .top-texts {
    font-size: var(--fs-2);

    #curr-name {
      font-size: var(--fs-6);
      font-weight: bold;
    }
  }
}