.button-container {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  border: 4px solid black;
  background-color: white;
  box-sizing: border-box;
  font-weight: bold;

  &.labelled {
    width: auto;
    padding: 0 var(--gap);
  }

  &.full-width {
    width: 100%;
    padding: 0;
  }

  &.disabled {
    cursor: not-allowed;
    border-color: grey;
    color: grey;
  }
}