.players-list-container {
  font-size: var(--fs-2);

  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .curr-name {
    font-size: var(--fs-4);
    font-weight: bold;
  }

  .lost { color: red; }

  .list-cross { font-size: var(--fs-1); }
}
